@using com.msc.services.dto.DataMapping;
@model com.msc.infraestructure.entities.CondEspeCli
@{
    Layout = null;
    ViewBag.Title = "Edición de Condiciones Especiales";
}
<div class="row">
    <div class="col-md-8">
        <h3>@ViewBag.Title</h3>
    </div>
</div>
@using (Html.BeginForm((Model.Id == 0 ? "New" : "Edit"), "CondEspeCli", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "frmCondEspeCli" }))
{
    @Html.AntiForgeryToken()
    if (Model.Id == 0)
    {
        <div class="form-group">
            <div class="col-md-12">
                @Html.HiddenFor(m => m.Id)
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Id, new { @class = "col-md-3 control-label", style = "text-align: left;" })
            @Html.HiddenFor(m => m.Id)
            <div class="col-md-4 control-label" style="text-align: left;">
                <span>@Model.Id</span>
            </div>
        </div>
    }
        
        if (ViewBag.TipoCondicion == "Cliente")
        {
            <div class="form-group">
                <div class="col-md-12">
                    @Html.HiddenFor(m => m.IdTipoCond)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.HiddenFor(m => m.IdReferencia)
                </div>
            </div>
            <div class="form-group has-feedback">
                <div class="col-md-11 cols-sm-11 col-xs-11 col-lg-11" title="Razón Social del Cliente" data-toggle="tooltip" data-placement="right">
                    @Html.TextBoxFor(p => p.DescReferencia, new { @class = "form-control has-feedback-left", placeholder = "Razón Social del Cliente" })
                    <span class="fa fa-home form-control-feedback left" aria-hidden="true"></span>
                    <span class="fa fa-check-circle form-control-feedback right" aria-hidden="true" style='@(Model.Id == 0 ? "" : "color: green;")' ></span>
                </div>
            </div>
            <script type="text/javascript">
                showAutocomplete('#DescReferencia', '/AutoComplete/Clientes', "desc", "#IdReferencia");
            </script>
        }
        else if (ViewBag.TipoCondicion == "TipoCarga")
        {
            <div class="form-group">
                <div class="col-md-12">
                    @Html.HiddenFor(m => m.IdTipoCond)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.HiddenFor(m => m.DescReferencia)
                </div>
            </div>
            <div class="form-group has-feedback">
                <div class="col-md-11 cols-sm-11 col-xs-11 col-lg-11" title="Tipo de Carga" data-toggle="tooltip" data-placement="right">
                    @Html.DropDownListFor(m => m.IdReferencia, (List<SelectListItem>)ViewBag.lstTipoCarga, new { @class = "form-control has-feedback-left" })
                    <span class="fa fa-sort form-control-feedback left" aria-hidden="true"></span>
                </div>
            </div>
            <script type="text/javascript">
                $("#IdReferencia").unbind().bind("change", function (ev) {
                    $("#DescReferencia").val($(this).find("option:selected").text());
                });
            </script>
        }
        else
        { 
            <div class="form-group has-feedback">
                <div class="col-md-11 cols-sm-11 col-xs-11 col-lg-11" title="Tipo de Condición" data-toggle="tooltip" data-placement="right">
                    @Html.DropDownListFor(m=>m.IdTipoCond, (List<SelectListItem>)ViewBag.lstTipoCondicion, new { @class = "form-control has-feedback-left" })
                    <span class="fa fa-sort form-control-feedback left" aria-hidden="true"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.HiddenFor(m => m.IdReferencia)
                    @Html.HiddenFor(m => m.DescReferencia)
                </div>
            </div>
            <div class="form-group has-feedback" id="autoNaves" style="@(Model.IdTipoCond == 57 ? "display: block;" : "display: none;")">
                <div class="col-md-11 cols-sm-11 col-xs-11 col-lg-11" title="Descripción Nave" data-toggle="tooltip" data-placement="right">
                    @Html.TextBox("DescNave", Model.DescReferencia, new { @class = "form-control has-feedback-left", placeholder = "Descripción Nave" })
                    <span class="fa fa-plane form-control-feedback left" aria-hidden="true"></span>
                    <span class="fa fa-check-circle form-control-feedback right" aria-hidden="true" style='@(Model.Id == 0 ? "" : "color: green;")' ></span>
                </div>
            </div>
            <div class="form-group has-feedback" id="autoViajes" style="@(Model.IdTipoCond == 58 ? "display: block;" : "display: none;")">
                <div class="col-md-11 cols-sm-11 col-xs-11 col-lg-11" title="Descripción Viaje" data-toggle="tooltip" data-placement="right">
                    @Html.TextBox("DescViaje", Model.DescReferencia, new { @class = "form-control has-feedback-left", placeholder = "Descripción Viaje" })
                    <span class="fa fa-ship form-control-feedback left" aria-hidden="true"></span>
                    <span class="fa fa-check-circle form-control-feedback right" aria-hidden="true" style='@(Model.Id == 0 ? "" : "color: green;")'></span>
                </div>
            </div>
            <script type="text/javascript">
                showAutocompleteDesc('#DescNave', '/AutoComplete/Naves', "desc", "#IdReferencia", "#DescReferencia");
                showAutocompleteDesc('#DescViaje', '/AutoComplete/Viajes', "desc", "#IdReferencia", "#DescReferencia");
                $("#IdTipoCond").unbind().bind("change", function (ev) {
                    $("#IdReferencia").val('');
                    $("#DescReferencia").val('');
                    if ($(this).val() == "57") {
                        $("#autoNaves").css("display", "block");
                        $("#autoViajes").css("display", "none");
                        $("#DescNave").val('');
                    } else {
                        $("#autoNaves").css("display", "none");
                        $("#autoViajes").css("display", "block");
                        $("#DescViaje").val('');
                    }
                });
            </script>
        }
        <div class="form-group has-feedback">
            <div class="col-md-11 cols-sm-11 col-xs-11 col-lg-11" title="Nombre" data-toggle="tooltip" data-placement="right">
                @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control has-feedback-left", placeholder = "Nombre" })
                <span class="fa fa-align-justify form-control-feedback left" aria-hidden="true"></span>
            </div>
        </div>

        <div class="form-group has-feedback">
            <div class="col-md-11 cols-sm-11 col-xs-11 col-lg-11" title="Fecha de Inicio - Fin aplica Condición Especial" data-toggle="tooltip" data-placement="right">
                @Html.HiddenFor(m => m.FechaInicio)
                @Html.HiddenFor(m => m.FechaFin)
                <input type="text" id="FechaRango" name="FechaRango" class="form-control has-feedback-left" />
                <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <div class="col-md-11 cols-sm-11 col-xs-11 col-lg-11" title="Fecha Aprobación" data-toggle="tooltip" data-placement="right">
                @Html.TextBoxFor(m => m.FechaAprobacion, new { @class = "form-control has-feedback-left", placeholder = "Fecha de Aprobación" })
                <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <div class="col-md-11 cols-sm-11 col-xs-11 col-lg-11" title="Usuario Aprobación" data-toggle="tooltip" data-placement="right">
                @Html.TextBoxFor(m => m.UsuAprobacion, new { @class = "form-control has-feedback-left", placeholder = "Usuario Aprobación" })
                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <div class="col-md-11 cols-sm-11 col-xs-11 col-lg-11" title="Días Libres" data-toggle="tooltip" data-placement="right">
                @Html.TextBoxFor(m => m.DiasLibres, new { @class = "form-control has-feedback-left", placeholder = "Días Libres" })
                <span class="fa fa-calculator form-control-feedback left" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <div class="col-md-11 cols-sm-11 col-xs-11 col-lg-11" title="Comentarios" data-toggle="tooltip" data-placement="right">
                @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control has-feedback-left", placeholder = "Descripción" })
                <span class="fa fa-comment form-control-feedback left" aria-hidden="true"></span>
            </div>
            <div class="col-md-1">
                <button name="btnGrabar" type="submit" class="btn btn-primary">Grabar</button>
            </div>
        </div>
}

<br />
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Detalle de Terminales</h2>
                <ul class="nav navbar-right panel_toolbox" style="min-width: 10px;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#" class="del-group" data-val-url="/CondEspeCliDetalle/Delete">Eliminar</a>
                                <a href="#" class="back-item" data-val-url="/CondEspeCli/Index">Volver</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="row">
                <div class="form-group has-feedback">
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4" title="Terminal" data-toggle="tooltip" data-placement="right">
                        @Html.DropDownList("ddlTerminal", (IEnumerable<SelectListItem>)ViewBag.lstTerminales, new { @class = "form-control has-feedback-left" })
                        <span class="fa fa-sort form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4" title="Retira Por" data-toggle="tooltip" data-placement="right">
                        @Html.DropDownList("ddlRetiraPor", (IEnumerable<SelectListItem>)ViewBag.lstTerminales, new { @class = "form-control has-feedback-left" })
                        <span class="fa fa-sort form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2" title="Días" data-toggle="tooltip" data-placement="right">
                        @Html.TextBox("NumDias", 0, new { @class = "form-control has-feedback-left", placeholder = "Días" })
                        <span class="fa fa-calculator form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2">
                        <button name="btnAgregar" type="submit" class="btn btn-primary">Agregar</button>
                    </div>
                </div>
            </div>
            <br />
            <div class="x_content">
                @Html.Partial("~/Views/CondEspeCliDetalle/View.cshtml", Model.CondEspeCliDetalles)
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Documentos Asociados</h2>
                <ul class="nav navbar-right panel_toolbox" style="min-width: 10px;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#" class="back-item" data-val-url="/CondEspeCli/Index">Volver</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <br />
            <form action="/" class="dropzone" style="max-height: 70px; min-height: 70px !important;">
                <input type="file" multiple="multiple" class="dz-hidden-input" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
            </form>
            <div class="x_content2">
                @Html.Partial("~/Views/Shared/_Upload.cshtml", Model.CondEspeCliDocs.TransformCondEspeCliDoc())
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#FechaAprobacion').daterangepicker($.extend(_optionsCalSingle, { startDate: '@(Model.Id == 0 ? DateTime.Now.ToString("dd/MM/yyyy") : Model.FechaAprobacion.ToString("dd/MM/yyyy"))' }));

                    $('#FechaRango').daterangepicker($.extend(_optionsCalRange, {
                        startDate: '@(Model.Id == 0 ? DateTime.Now.ToString("dd/MM/yyyy") : Model.FechaInicio.ToString("dd/MM/yyyy"))',
                        endDate: '@(Model.Id == 0 ? DateTime.Now.ToString("dd/MM/yyyy") : Model.FechaFin.ToString("dd/MM/yyyy"))',
                    }));

                    $('#FechaRango').on('apply.daterangepicker', function (ev, picker) {
                        $("#FechaInicio").val(picker.startDate.format('DD/MM/YYYY'));
                        $("#FechaFin").val(picker.endDate.format('DD/MM/YYYY'));
                    });

                    _formEditTabCondEspe();
                });
            </script>
        </div>
    </div>
</div>

