@model List<com.msc.infraestructure.entities.CondEspeCli>
@{
    Layout = null;
    ViewBag.Title = "Histórico de Condiciones Especiales";
}
<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@ViewBag.Title</h2>
                    <ul class="nav navbar-right panel_toolbox" style="min-width: 10px;">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    @if (ViewBag.TipoCondicion == "Cliente")
                                    {
                                        <a href="#" class="back-histo" data-val-url="/CondEspeCli/Historial" data-val-tipo="BackCliente">Volver</a>
                                    }
                                    else if (ViewBag.TipoCondicion == "TipoCarga")
                                    {
                                        <a href="#" class="back-histo" data-val-url="/CondEspeCli/Historial" data-val-tipo="BackTipoCarga">Volver</a>
                                    }
                                    else
                                    { 
                                        <a href="#" class="back-histo" data-val-url="/CondEspeCli/Historial" data-val-tipo="BackExcepcional">Volver</a>
                                    }
                                    
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                            <table id="@(ViewBag.TipoCondicion == "Cliente" ? "datatable-histcliente" : (ViewBag.TipoCondicion == "TipoCarga" ? "datatable-histtipocarga" : "datatable-excepcional"))" class="table table-striped jambo_table table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>@( ViewBag.TipoCondicion == "Cliente"?"Cliente":( ViewBag.TipoCondicion == "TipoCarga" ? "Tipo de Carga" : "Excepcional"))</th>
                                    <th>Nombre</th>
                                    <th>F. Inicio</th>
                                    <th>F. Fin</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="row_@item.Id">
                                        <td>@item.DescReferencia</td>
                                        <td>@item.Nombre</td>
                                        <td>@item.FechaInicio.ToString("dd/MM/yyyy")</td>
                                        <td>@item.FechaFin.ToString("dd/MM/yyyy")</td>
                                        <td>
                                            <div class="hidden-xs hidden-sm visible-md visible-lg">
                                                <a href="#" class="view-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/CondEspeCli/View"><span class="glyphicon glyphicon-list-alt"></span> Ver</a>
                                            </div>
                                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                <a href="#" class="view-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/CondEspeCli/View"><span class="glyphicon glyphicon-list-alt"></span></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    <script type="text/javascript">
                            $(document).ready(function () {
                                $("#@(ViewBag.TipoCondicion == "Cliente" ? "datatable-histcliente" : (ViewBag.TipoCondicion == "TipoCarga" ? "datatable-histtipocarga" : "datatable-excepcional"))").DataTable({
                                    language: _language,
                                    drawCallback: function (settings) {
                                        _formEditTabHistorialDetail();
                                    }
                                });
                                _formBack();
                                _formEditTabHistorial();
                            });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>