@model List<com.msc.infraestructure.entities.CondEspeCliDia>
@{ 
    Layout = null;
} 
<br />
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
                    @Html.Label("lblTerminal", "Terminal")
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
                    <p>@ViewBag.Terminal</p>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
                    @Html.Label("lblTerminal", "Días")
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
                    <p>@ViewBag.MaxDias</p>
                </div>
            </div>
            <div class="row">
                @using (Html.BeginForm("Edit", "CondEspeCliDia", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "frmCondEspeCliDia" }))
                {
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.Hidden("IdCondEspeCliDetalle", (int)ViewBag.IdDetalle)
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3" title="Desde" data-toggle="tooltip" data-placement="right">
                            <select id="DiaI" name="DiaI" class="form-control has-feedback-left">
                                @for(var i = 1; i <= (int)ViewBag.MaxDias; i++)
                                {
                                    if (@i == 1)
                                    {
                                        <option value="@i" selected>@i</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                            <span class="fa fa-sort form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3" title="Hasta" data-toggle="tooltip" data-placement="right">
                            <select id="DiaF" name="DiaF" class="form-control has-feedback-left">
                                @for (var i = 1; i <= (int)ViewBag.MaxDias; i++)
                                {
                                    if (@i == 1)
                                    {
                                        <option value="@i" selected>@i</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                            <span class="fa fa-sort form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4" title="Transporte" data-toggle="tooltip" data-placement="right">
                            @Html.DropDownList("IdTransporte", (List<SelectListItem>)ViewBag.lstTransporte, new { @class = "form-control has-feedback-left" })
                            <span class="fa fa-plane form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2">
                            <button name="btnAceptar" type="submit" class="btn btn-primary">Agregar</button>
                        </div>
                    </div>
                }
            </div>
            <br />
            <div class="row" id="table-dias">
                @Html.Partial("~/Views/CondEspeCliDia/Table.cshtml", Model)
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        _formEditTabDias();
    });
</script>

