@model List<com.msc.infraestructure.entities.CondEspeCliDia>
@{
    Layout = null;
}
<table id="datatable-dias" class="table table-striped jambo_table table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Inicia El</th>
            <th>Termina El</th>
            <th>Split</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row_@item.Id">
                <td>@item.DiaI</td>
                <td>@item.DiaF</td>
                <td>@item.Transporte.Descripcion</td>
                <td>
                    <div class="hidden-xs hidden-sm visible-md visible-lg">
                        <a href="#" class="del-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
                    </div>
                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                        <a href="#" class="del-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("#datatable-dias").DataTable({
            columns: [null, null, null, { orderable: false }],
            paging: false,
            searching: false,
            sorting: false,
            language: _language,
            drawCallback: function (settings) {
                _formEditTabDiasTable();
            }
        });
    });
</script>
