@model List<com.msc.infraestructure.entities.DetalleCotizacion>
@{ 
    Layout = null;
} 
<div id="msgTable" style="font-weight: bolder;">@ViewBag.Message</div>
<br/>
<table id="datatable-responsive-dp" class="table table-striped jambo_table table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Unidad de Medida</th>
            <th>Precio</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row_@item.Id" style="@(item.IdTarifario == null ? "color: Red; font-weight: bold;":"")">
                <td>@item.Producto.Descripcion</td>
                <td>@item.Cantidad</td>
                <td>@item.Producto.UnidadMedida.Descripcion</td>
                <td>@item.Precio</td>
                <td>@item.Total</td>
                <td>
                    <div class="hidden-xs hidden-sm visible-md visible-lg">
                        <a href="#" class="detail-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/DetalleCotizacion/Detail"><span class="glyphicon glyphicon-list-alt"></span> Ver</a>&nbsp;&nbsp;
                        <a href="#" class="edit-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/DetalleCotizacion/Edit"><span class="glyphicon glyphicon-edit"></span> Editar</a>&nbsp;&nbsp;
                        <a href="#" class="del-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
                    </div>
                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                        <a href="#" class="detail-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/DetalleCotizacion/Detail"><span class="glyphicon glyphicon-list-alt"></span></a>&nbsp;&nbsp;
                        <a href="#" class="edit-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/DetalleCotizacion/Edit"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;&nbsp;
                        <a href="#" class="del-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<label style="color: red; font-weight: bold;">Nota.- Las filas en rojo muestran productos sin tarifario asociado.</label>
<script type="text/javascript">
    $(document).ready(function () {
        _formEditDetalleCotizacion();
    });
</script>