@using com.msc.services.dto;
@model com.msc.infraestructure.entities.Tarifario
@{
    Layout = null;
    ViewBag.Title = "Edición de Tarifario";
}
<div class="row">
    <div class="col-md-8">
        <h3>@ViewBag.Title</h3>
    </div>
</div>
@using (Html.BeginForm((Model.Id == 0 ? "New" : "Edit"), "Tarifario", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "frmTarifario" }))
{
    @Html.AntiForgeryToken()
    if (Model.Id == 0)
    {
        <div class="form-group">
            <div class="col-md-12">
                @Html.HiddenFor(m => m.Id)
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Id, new { @class = "col-md-3 control-label", style = "text-align: left;" })
            @Html.HiddenFor(m => m.Id)
            <div class="col-md-4 control-label" style="text-align: left;">
                <span>@Model.Id</span>
            </div>
        </div>
    }
    
    <div class="form-group">
        <div class="col-md-12">
            @Html.HiddenFor(m => m.IdProveedor)
        </div>
    </div>
    <div class="form-group has-feedback">
        <div class="col-md-11 cols-sm-11 col-xs-11 col-lg-11" title="Razón Social del Proveedor" data-toggle="tooltip" data-placement="right">
            @Html.TextBox("DescProveedor", (Model.Proveedor != null ? Model.Proveedor.RazonSocial : ""), new { @class = "form-control has-feedback-left", placeholder = "Razon social del Proveedor" })
            <span class="fa fa-home form-control-feedback left" aria-hidden="true"></span>
            <span class="fa fa-check-circle form-control-feedback right" aria-hidden="true" style='@(Model.Id == 0 ? "" : "color: green;")' ></span>
        </div>
    </div>

    <script type="text/javascript">
        showAutocomplete('#DescProveedor', '/AutoComplete/Proveedores', "desc", "#IdProveedor");
    </script>

    <div class="form-group">
        <div class="col-md-12">
            @Html.HiddenFor(m => m.IdProducto)
            @Html.HiddenFor(m => m.IdEstado)
        </div>
    </div>
    <div class="form-group has-feedback">
        <div class="col-md-11 cols-sm-11 col-xs-11 col-lg-11" title="Descripción del Producto" data-toggle="tooltip" data-placement="right">
            @Html.TextBox("DescProducto", (Model.Producto != null ? Model.Producto.Descripcion : ""), new { @class = "form-control has-feedback-left", placeholder = "Descripción del Producto" })
            <span class="fa fa-product-hunt form-control-feedback left" aria-hidden="true"></span>
            <span class="fa fa-check-circle form-control-feedback right" aria-hidden="true" style='@(Model.Id == 0 ? "" : "color: green;")'></span>
        </div>
    </div>

    <script type="text/javascript">
        showAutocomplete('#DescProducto', '/AutoComplete/Productos', "desc", "#IdProducto");
    </script>

    <div class="form-group has-feedback">
        <div class="col-md-11 cols-sm-11 col-xs-11 col-lg-11" title="Moneda" data-toggle="tooltip" data-placement="right">
            @Html.DropDownListFor(m => m.IdMoneda, (List<SelectListItem>)ViewBag.lstMonedas, new { @class = "form-control has-feedback-left" })
            <span class="fa fa-money form-control-feedback left" aria-hidden="true"></span>
        </div>
    </div>

    <div class="form-group has-feedback">
        <div class="col-md-11 cols-sm-11 col-xs-11 col-lg-11" title="Precio del Producto" data-toggle="tooltip" data-placement="right">
            @Html.TextBoxFor(m => m.Precio, new { @class = "form-control has-feedback-left", placeholder = "Descripción Producto" })
            <span class="fa fa-calculator form-control-feedback left" aria-hidden="true"></span>
        </div>
    </div>
    <div class="form-group has-feedback">
        <div class="col-md-11 cols-sm-11 col-xs-11 col-lg-11" title="Fecha de Inicio - Fin aplica Tarifa" data-toggle="tooltip" data-placement="right">
            @Html.HiddenFor(m => m.InicioVigencia)
            @Html.HiddenFor(m => m.FinVigencia)
            <input type="text" id="FechaRango" name="FechaRango" class="form-control has-feedback-left" />
            <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
        </div>
        <div class="col-md-1">
            <button name="btnGrabar" type="submit" class="btn btn-primary">Grabar</button>
        </div>
    </div>
}
<br />
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Documentos - Sustentos</h2>
                <ul class="nav navbar-right panel_toolbox" style="min-width: 10px;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#" class="back-item" data-val-url="/Tarifario/Index">Volver</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <br />
            <form action="/" class="dropzone" style="max-height: 70px; min-height: 70px !important;">
                <input type="file" multiple="multiple" class="dz-hidden-input" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
            </form>
            <div class="x_content">
                @Html.Partial("~/Views/Shared/_Upload.cshtml", Model.TarifarioDocs.TransformTarifarioDoc())
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        _formEditTarifario();
        _formBack();
        _setUploadControl(".x_content", ".dropzone", "/Upload/Tarifario", "/TarifarioDoc/Delete", "/TarifarioDoc/ViewDocs", 5, 5, [_mimeDOC, _mimeDOCX, _mimeXLS, _mimeXLSX, _mimePDF], "/Upload/DownloadTarifario/");
        $('#FechaRango').daterangepicker($.extend(_optionsCalRange, {
            startDate: '@(Model.Id == 0 ? DateTime.Now.ToString("dd/MM/yyyy") : Model.InicioVigencia.ToString("dd/MM/yyyy"))',
            endDate: '@(Model.Id == 0 ? DateTime.Now.ToString("dd/MM/yyyy") : Model.FinVigencia.ToString("dd/MM/yyyy"))',
        }));

        $('#FechaRango').on('apply.daterangepicker', function (ev, picker) {
            $("#InicioVigencia").val(picker.startDate.format('DD/MM/YYYY'));
            $("#FinVigencia").val(picker.endDate.format('DD/MM/YYYY'));
        });
    });

</script>
