@model com.msc.infraestructure.entities.Tarifario
@{
    Layout = null;
    <div class="row">
        @Html.LabelFor(m => m.Id, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Id</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdProveedor, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Proveedor.NombreComercial</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdProducto, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Producto.Descripcion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdMoneda, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Moneda.Descripcion</p>
        </div>
    </div>
    
    <div class="row">
        @Html.LabelFor(m => m.Precio, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Precio</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.InicioVigencia, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.InicioVigencia.ToString("dd/MM/yyyy")</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.FinVigencia, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.FinVigencia.ToString("dd/MM/yyyy")</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdEstado, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Estado.Descripcion</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Documentos Asociados</h2>
                    <ul class="nav navbar-right panel_toolbox" style="min-width: 10px;">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#" class="back-item" data-val-url="/Tarifario/Index">Volver</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable-responsive" class="table table-striped jambo_table table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Extensión</th>
                                <th>Tamaño (MB)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TarifarioDocs)
                            {
                                <tr>
                                    <td>@item.Documento.Nombre</td>
                                    <td>@item.Documento.Extension</td>
                                    <td>@item.Documento.TamanoMB</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            _formView();
                            _formBack();
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <br/>
    
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Tarifas Históricas</h2>
                    <ul class="nav navbar-right panel_toolbox" style="min-width: 10px;">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#" class="back-item" data-val-url="/Tarifario/Index">Volver</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <br/>
                <div class="x_content">
                    @Html.Partial("~/Views/Tarifario/Historico.cshtml", Model.V_Tarifarios)
                </div>
            </div>
        </div>
    </div>
}


