@model com.msc.infraestructure.entities.Pedido
@{ 
    Layout = null;
    using (Html.BeginForm((Model.Id == 0 ? "New" : "Edit"), "Pedido", FormMethod.Post, new { @class = "form-horizontal", role = "form", id="frmPedido" }))
    {
        @Html.AntiForgeryToken()
        if (Model.Id == 0)
        {
            <div class="form-group">
                <div class="col-md-12">
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.UsuarioSol)
                    @Html.HiddenFor(m => m.ComentAprobador)
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Id, new { @class = "col-md-3 control-label", style = "text-align: left;" })
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.UsuarioSol)
                @Html.HiddenFor(m => m.IdEstado)
                @Html.HiddenFor(m => m.ComentAprobador)
                <div class="col-md-8 control-label" style="text-align: left;">
                    <span>@Model.Id</span>
                </div>
            </div>
        }
        <div class="form-group has-feedback">
            <div class="col-md-11 col-md-11 col-sm-11 col-lg-11 col-xs-11" title="Código Externo" data-toggle="tooltip" data-placement="right">
                @Html.TextBoxFor(m => m.Codigo, new { @class = "form-control has-feedback-left", placeholder = "Código Externo", @readonly = "readonly" })
                <span class="fa fa-align-justify form-control-feedback left" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <div class="col-md-11 col-md-11 col-sm-11 col-lg-11 col-xs-11" title="Empresa del Pedido" data-toggle="tooltip" data-placement="right">
                @Html.DropDownListFor(m => m.IdEmpresa, (List<SelectListItem>)ViewBag.lstEmpresas, new { @class = "form-control has-feedback-left" })
                <span class="fa fa-home form-control-feedback left" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <div class="col-md-11 col-md-11 col-sm-11 col-lg-11 col-xs-11" title="Sucursal" data-toggle="tooltip" data-placement="right">
                @Html.DropDownListFor(m => m.IdSucursal, (List<SelectListItem>)ViewBag.lstSucursales, new { @class = "form-control has-feedback-left" })
                <span class="fa fa-sort form-control-feedback left" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <div class="col-md-11 col-md-11 col-sm-11 col-lg-11 col-xs-11" title="Area Solicitante" data-toggle="tooltip" data-placement="right">
                @Html.DropDownListFor(m => m.IdAreaSolicitante, (List<SelectListItem>)ViewBag.lstAreaSolicitante, new { @class = "form-control has-feedback-left" })
                <span class="fa fa-sort form-control-feedback left" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <div class="col-md-11 col-md-11 col-sm-11 col-lg-11 col-xs-11" title="Centro de Costo" data-toggle="tooltip" data-placement="right">
                @Html.DropDownListFor(m => m.IdCentroCosto, (List<SelectListItem>)ViewBag.lstCentroCosto, new { @class = "form-control has-feedback-left" })
                <span class="fa fa-sort form-control-feedback left" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <div class="col-md-11 col-md-11 col-sm-11 col-lg-11 col-xs-11" title="Tipo Petición" data-toggle="tooltip" data-placement="right">
                @Html.DropDownListFor(m => m.IdTipoPeticion, (List<SelectListItem>)ViewBag.lstTipoPeticion, new { @class = "form-control has-feedback-left" })
                <span class="fa fa-sort form-control-feedback left" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <div class="col-md-11 col-sm-11 col-xs-11 col-lg-11" title="Fecha Petición" data-toggle="tooltip" data-placement="right">
                @Html.TextBoxFor(m => m.FechaPeticion, new { @class = "form-control has-feedback-left", placeholder = "Fecha de Petición" })
                <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <div class="col-md-10 col-sm-10 col-xs-10 col-lg-10" title="Fecha Esperada" data-toggle="tooltip" data-placement="right">
                @Html.TextBoxFor(m => m.FechaEsperada, new { @class = "form-control has-feedback-left", placeholder = "Fecha Esperada" })
                <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1" title="Requiere Aprobación" data-toggle="tooltip" data-placement="right">
                @Html.HiddenFor(m => m.FlagAprobacion)
                @Html.CheckBox("ChkAprobar", (Model.FlagAprobacion == 1 ? true : false), new { @class = "form-control has-feedback-left" })
            </div>
        </div>
        <div class="form-group has-feedback">
            <div class="col-md-11 col-sm-11 col-xs-11 col-lg-11" title="Observaciones" data-toggle="tooltip" data-placement="right">
                @Html.TextAreaFor(m => m.Observaciones, new { @class = "form-control has-feedback-left", placeholder = "Observaciones" })
                <span class="fa fa-comment form-control-feedback left" aria-hidden="true"></span>
            </div>
            <div class="col-md-1">
                <button name="btnGrabar" type="submit" class="btn btn-primary">Grabar</button>
            </div>
        </div>
    }
}

<br />
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Productos</h2>
                <ul class="nav navbar-right panel_toolbox" style="min-width: 10px;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#" class="del-group" data-val-url="/DetallePedido/Delete">Eliminar</a>
                                <a href="#" class="back-item" data-val-url="/Pedido/Index">Volver</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="hidden" id="IdProducto" value="0" />
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <div class="col-md-5 col-sm-5 col-xs-5 col-lg-5" title="Descripción del Producto" data-toggle="tooltip" data-placement="top">
                        @Html.TextBox("DescProducto", "", new { @class = "form-control has-feedback-left", placeholder = "Descripción del Producto" })
                        <span class="fa fa-product-hunt form-control-feedback left" aria-hidden="true"></span>
                        <span class="fa fa-check-circle form-control-feedback right" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2" title="Unidad de Medida" data-toggle="tooltip" data-placement="top">
                        <label id="DescUniMedida" style="padding-top: 5px; font-size: medium;"></label>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2" title="Cantidad" data-toggle="tooltip" data-placement="top">
                        @Html.TextBox("txtCantidad", "", new { @class = "form-control has-feedback-left", placeholder = "Cantidad" })
                        <span class="fa fa-calculator form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2" title="Precio" data-toggle="tooltip" data-placement="top">
                        @Html.TextBox("DescPrecio", "0", new { @class = "form-control has-feedback-left", placeholder = "Precio", @readonly = "readonly" })
                        <span class="fa fa-money form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1" title="Total" data-toggle="tooltip" data-placement="top">
                        @Html.TextBox("DescTotal", "0", new { @class = "form-control", placeholder = "Total", @readonly = "readonly" })
                    </div>
                </div>
                <br /><br /><br />
                <div class="form-group has-feedback">
                    <div class="col-md-11 col-sm-11 col-xs-11 col-lg-11" title="Observaciones" data-toggle="tooltip" data-placement="right">
                        @Html.TextArea("DescObservaciones", "", new { @class = "form-control has-feedback-left", placeholder = "Observaciones" })
                        <span class="fa fa-comment form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-1 col-sm-1 col-lg-1 col-xs-1">
                        <button name="btnAgregar" type="submit" class="btn btn-primary">Agregar</button>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                showAutocompleteProducto('#DescProducto', '/AutoComplete/Productos', "desc", "#IdProducto", "#DescProducto", "#DescUniMedida", "#DescPrecio");
            </script>
            <br />
            <div class="x_content">
                @Html.Partial("~/Views/DetallePedido/View.cshtml", Model.DetallePedidos)
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#FechaPeticion').daterangepicker($.extend(_optionsCalSingle, { startDate: '@(Model.Id == 0 ? DateTime.Now.ToString("dd/MM/yyyy") : Model.FechaPeticion.ToString("dd/MM/yyyy"))' }));
                    $('#FechaEsperada').daterangepicker($.extend(_optionsCalSingle, { startDate: '@(Model.Id == 0 ? DateTime.Now.ToString("dd/MM/yyyy") : Model.FechaEsperada.ToString("dd/MM/yyyy"))' }));
                    _formEditPedido();
                    $("#ChkAprobar").unbind().bind("click", function (ev) {
                        var fl = ($(this).is(":checked") ? 1 : 0);
                        $("#FlagAprobacion").val(fl);
                    });
                });
            </script>
        </div>
    </div>
</div>
