@model com.msc.infraestructure.entities.Pedido
@{ 
    Layout = null;
    <div class="row">
        @Html.LabelFor(m => m.Id, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Id</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Codigo, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Codigo</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdEmpresa, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Empresa.Descripcion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdSucursal, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Sucursal.Descripcion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdAreaSolicitante, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.AreaSolicitante.Descripcion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdTipoPeticion, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.TipoPeticion.Descripcion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdCentroCosto, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.CentroCosto.Descripcion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.FechaPeticion, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.FechaPeticion.ToString("dd/MM/yyyy")</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.FechaEsperada, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.FechaEsperada.ToString("dd/MM/yyyy")</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Observaciones, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Observaciones</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.UsuarioSol, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.UsuarioSol</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.FlagAprobacion, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@(Model.FlagAprobacion == 1 ? "SI" : "NO")</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.ComentAprobador, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.ComentAprobador</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdEstado, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Estado.Descripcion</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Productos Asociados</h2>
                    <ul class="nav navbar-right panel_toolbox" style="min-width: 10px;">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#" class="back-item" data-val-url="@ViewBag.UrlBack">Volver</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable-responsive" class="table table-striped jambo_table table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Cantidad</th>
                                <th>Unidad de Medida</th>
                                <th>Observaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DetallePedidos)
                            {
                                <tr>
                                    <td>@item.Producto.Descripcion</td>
                                    <td>@item.Cantidad</td>
                                    <td>@item.Producto.UnidadMedida.Descripcion</td>
                                    <td>@item.Observaciones</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br />
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Cotizaciones Asociadas</h2>
                <ul class="nav navbar-right panel_toolbox" style="min-width: 10px;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#" class="back-item" data-val-url="@ViewBag.UrlBack">Volver</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <br />
            <div class="x_content2">
                <table id="datatable-responsive-cot" class="table table-striped jambo_table table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Proveedor</th>
                            <th>Contacto Proveedor</th>
                            <th>Email Contacto</th>
                            <th>Observación</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Cotizaciones)
                        {
                            <tr>
                                <td>@item.Codigo</td>
                                <td>@item.Proveedor.RazonSocial</td>
                                <td>@(item.Proveedor.ContactoProveedor.Count > 0 ? item.Proveedor.ContactoProveedor.First().NombreCompleto : "")</td>
                                <td>@(item.Proveedor.ContactoProveedor.Count > 0 ? item.Proveedor.ContactoProveedor.First().Correo : "")</td>
                                <td>@item.Observacion</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
}
<script type="text/javascript">
    $(document).ready(function () {
        _formBack();
        _formView();
        $("#datatable-responsive-cot").DataTable({
            language: _language,
            paging: false,
            searching: false,
            sorting: false
        });
    });
</script>

