@using com.msc.services.dto.DataMapping;
@model com.msc.infraestructure.entities.TarifaCE
@{ 
    Layout = null;
    ViewBag.Title = "Edición de Tarifa de Condiciones de Energía";
}
<div class="row">
    <div class="col-md-8">
        <h3>@ViewBag.Title</h3>
    </div>
</div>
    @using (Html.BeginForm((Model.Id == 0 ? "New":"Edit"), "TarifaCE", FormMethod.Post, new { @class = "form-horizontal", role = "form", id= "frmTarifaCE" }))
    {
        @Html.AntiForgeryToken()
        if (Model.Id == 0)
        {
            <div class="form-group">
                <div class="col-md-12">
                    @Html.HiddenFor(m => m.Id)
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Id, new { @class = "col-md-3 control-label", style = "text-align: left;" })
                @Html.HiddenFor(m => m.Id)
                <div class="col-md-4 control-label" style="text-align: left;">
                    <span>@Model.Id</span>
                </div>
                <div class="col-md-4 control-label" style="text-align: left;">
                    <span>@Model.Estado.Descripcion</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.HiddenFor(m => m.IdEstado)
                </div>
            </div>
        }
        <div class="form-group has-feedback">
            <div class="col-md-11 cols-sm-11 col-xs-11 col-lg-11" title="Terminal Asociado" data-toggle="tooltip" data-placement="right">
                @Html.DropDownListFor(m => m.IdTerminal, (List<SelectListItem>)ViewBag.lstTerminales, new { @class = "form-control has-feedback-left" })
                <span class="fa fa-sort form-control-feedback left" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <div class="col-md-11 cols-sm-11 col-xs-11 col-lg-11" title="Período de Tarifa" data-toggle="tooltip" data-placement="right">
                @Html.DropDownListFor(m => m.IdPerTar, (List<SelectListItem>)ViewBag.lstPeriodoTars, new { @class = "form-control has-feedback-left" })
                <span class="fa fa-sort form-control-feedback left" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <div class="col-md-11 cols-sm-11 col-xs-11 col-lg-11" title="Moneda" data-toggle="tooltip" data-placement="right">
                @Html.DropDownListFor(m => m.IdMoneda, (List<SelectListItem>)ViewBag.lstMonedas, new { @class = "form-control has-feedback-left" })
                <span class="fa fa-money form-control-feedback left" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <div class="col-md-11 cols-sm-11 col-xs-11 col-lg-11" title="Importe de la Tarifa" data-toggle="tooltip" data-placement="right">
                @Html.TextBoxFor(m => m.Importe, new { @class = "form-control has-feedback-left", placeholder = "Importe de la Tarifa" })
                <span class="fa fa-money form-control-feedback left" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <div class="col-md-11 cols-sm-11 col-xs-11 col-lg-11" title="Fecha de Inicio - Fin aplica Tarifa" data-toggle="tooltip" data-placement="right">
                @Html.HiddenFor(m => m.FechaInicio)
                @Html.HiddenFor(m => m.FechaFin)
                <input type="text" id="FechaRango" name="FechaRango" class = "form-control has-feedback-left"/>
                <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <div class="col-md-11 cols-sm-11 col-xs-11 col-lg-11" title="Comentarios" data-toggle="tooltip" data-placement="right">
                @Html.TextAreaFor(m => m.Comentarios, new { @class = "form-control has-feedback-left", placeholder = "Comentarios" })
                <span class="fa fa-comment form-control-feedback left" aria-hidden="true"></span>
            </div>
            <div class="col-md-1">
                <button name="btnGrabar" type="submit" class="btn btn-primary">Grabar</button>
            </div>
        </div>
    }
<br />
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Documentos Asociados</h2>
                <ul class="nav navbar-right panel_toolbox" style="min-width: 10px;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#" class="back-item" data-val-url="/TarifaCE/Index">Volver</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <br />
            <form action="/" class="dropzone" style="max-height: 70px; min-height: 70px !important;">
                <input type="file" multiple="multiple" class="dz-hidden-input" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
            </form>
            <div class="x_content">
                @Html.Partial("~/Views/Shared/_Upload.cshtml", Model.TarifaCEDocs.TransformTarifaCEDoc())
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    _formEditTarifaCE();
                    _formBack();
                    _setUploadControl(".x_content", ".dropzone", "/Upload/TarifaCE", "/TarifaCEDoc/Delete", "/TarifaCEDoc/ViewDocs", 5, 5, [_mimeDOC, _mimeDOCX, _mimeXLS, _mimeXLSX, _mimePDF], "/Upload/DownloadTarifaCE/");
                    $('#FechaRango').daterangepicker($.extend(_optionsCalRange, {
                        startDate: '@(Model.Id == 0 ? DateTime.Now.ToString("dd/MM/yyyy") : Model.FechaInicio.ToString("dd/MM/yyyy"))',
                        endDate: '@(Model.Id == 0 ? DateTime.Now.ToString("dd/MM/yyyy") : Model.FechaFin.ToString("dd/MM/yyyy"))',
                    }));

                    $('#FechaRango').on('apply.daterangepicker', function (ev, picker) {
                        $("#FechaInicio").val(picker.startDate.format('DD/MM/YYYY'));
                        $("#FechaFin").val(picker.endDate.format('DD/MM/YYYY'));
                    });
                });

            </script>
            </div>

    </div>
</div>
