@model List<com.msc.infraestructure.entities.TarifaCE>
@{
    Layout = null;
    ViewBag.Title = "Hitórico de Tarifas de Condiciones de Energía";
}
<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@ViewBag.Title</h2>
                    <ul class="nav navbar-right panel_toolbox" style="min-width: 10px;">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#" class="back-item" data-val-url="/TarifaCE/Index">Volver</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                        <table id="datatable-responsive" class="table table-striped jambo_table table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Terminal</th>
                                    <th>Período</th>
                                    <th>Importe</th>
                                    <th>F. Inicio</th>
                                    <th>F. Fin</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="row_@item.Id">
                                        <td>@item.Terminal.Descripcion</td>
                                        <td>@item.PerTarifa.Descripcion</td>
                                        <td>@item.Moneda.Breve  @item.Importe</td>
                                        <td>@item.FechaInicio.ToString("dd/MM/yyyy")</td>
                                        <td>@item.FechaFin.ToString("dd/MM/yyyy")</td>
                                        <td>@item.Estado.Descripcion</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    <script type="text/javascript">
                            $(document).ready(function () {
                                _formView();
                                _formBack();
                            });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>