@using com.msc.infraestructure.entities;
@model List<Cotizacion>
@{
    Layout = null;
    ViewBag.Title = "Mantenimiento de Cotizaciones";
}
<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@ViewBag.Title</h2>
                    <ul class="nav navbar-right panel_toolbox" style="min-width: 10px;">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#" class="new-item" data-val-url="/Cotizacion/New">Nuevo</a>
                                    <a href="#" class="del-group" data-val-url="/Cotizacion/Delete">Eliminar</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <table id="datatable-responsive" class="table table-striped jambo_table table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Pedido</th>
                                <th>Proveedor</th>
                                <th>Fecha Cotización</th>
                                <th>Estado</th>
                                <th>Observación</th>
                                <th>Orden de Compra</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.Id">
                                    <td>@item.Codigo</td>
                                    <td>@item.Pedido.Codigo</td>
                                    <td>@item.Proveedor.RazonSocial</td>
                                    <td>@item.FechaCotizacion.ToString("dd/MM/yyyy")</td>
                                    <td>@item.Estado.Descripcion</td>
                                    <td>@item.Observacion</td>
                                    <td>
                                        @if (item.OrdenCompra != null) { 
                                        <a href="#" class="view-oc" data-toggle="modal" data-val-id="@item.OrdenCompra.Id" data-val-url="/OrdenCompra/View" style="text-decoration: underline; font-weight: bold;">@item.OrdenCompra.Codigo</a>
                                        }
                                    </td>
                                    <td>
                                        <div class="hidden-xs hidden-sm visible-md visible-lg">
                                            <a href="#" class="view-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/Cotizacion/View"><span class="glyphicon glyphicon-list-alt"></span> Ver</a> &nbsp;&nbsp;
                                            @if (item.Estado.Codigo != "009")
                                            {
                                            <a href="#" class="edit-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/Cotizacion/Edit"><span class="glyphicon glyphicon-edit"></span> Editar</a> @:&nbsp;&nbsp;
                                            }
                                            @if (item.Estado.Codigo == "002") 
                                            { 
                                            <a href="#" class="env-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/Cotizacion/Enviar"><span class="glyphicon glyphicon-send"></span> Enviar</a> @:&nbsp;&nbsp;
                                            <a href="#" class="del-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
                                            }
                                        </div>
                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                            <a href="#" class="view-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/Cotizacion/View"><span class="glyphicon glyphicon-list-alt"></span></a> &nbsp;&nbsp;
                                            @if (item.Estado.Codigo != "009")
                                            {
                                            <a href="#" class="edit-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/Cotizacion/Edit"><span class="glyphicon glyphicon-edit"></span></a> @:&nbsp;&nbsp;
                                            }
                                            @if (item.Estado.Codigo == "002")
                                            {
                                            <a href="#" class="env-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/Cotizacion/Enviar"><span class="glyphicon glyphicon-send"></span></a> @:&nbsp;&nbsp;
                                            <a href="#" class="del-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-trash"></span></a>
                                            }
                                        </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    <script type="text/javascript">
                            $(document).ready(function () {
                                _formLoadExtend("Cotizacion", [null, null, null, null, null, null, { orderable: false }, { orderable: false }]);
                            });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>