@using com.msc.services.dto
@model com.msc.infraestructure.entities.CargaLiqui
@{
    Layout = null;
    <div class="row">
        @Html.LabelFor(m => m.IdContenedor, new { @class = "col-md-3 control-label" })
        <div class="col-md-3">
            <p>@Model.Contenedor.Id</p>
        </div>
        @Html.LabelFor(m => m.IdBooking, new { @class = "col-md-3 control-label" })
        <div class="col-md-3">
            <p>@Model.Booking.Descripcion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdCliente, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Cliente.Descripcion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdTipoCarga, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.TipoCarga.Descripcion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdNave, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Nave.Descripcion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdTarifa, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>
                Vigencia: @Model.Tarifa.FechaInicio.ToString("dd/MM/yyyy") - @Model.Tarifa.FechaFin.ToString("dd/MM/yyyy") <br />
                Tipo: @Model.Tarifa.PerTarifa.Descripcion &nbsp;&nbsp;&nbsp;Importe: @Model.Tarifa.Moneda.Breve @Model.Tarifa.Importe
            </p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdCondEspeCli, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>
                Tipo: @Model.CondEspeCli.TipoCond.Descripcion <br />
                Razón: @Model.CondEspeCli.DescReferencia <br />
                Vigencia: @Model.CondEspeCli.FechaInicio.ToString("dd/MM/yyyy") - @Model.CondEspeCli.FechaFin.ToString("dd/MM/yyyy") <br />
                Nombre: @Model.CondEspeCli.Nombre <br />
                Aprobado por: @Model.CondEspeCli.UsuAprobacion, el día: @Model.CondEspeCli.FechaAprobacion.ToString("dd/MM/yyyy")
            </p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdViaje, new { @class = "col-md-3 control-label" })
        <div class="col-md-3">
            <p>@Model.Viaje.Descripcion</p>
        </div>
        @Html.LabelFor(m => m.Linea, new { @class = "col-md-3 control-label" })
        <div class="col-md-3">
            <p>@Model.Linea</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.FecEntrada, new { @class = "col-md-3 control-label" })
        <div class="col-md-3">
            <p>@Model.FecEntrada.ToString("dd/MM/yyyy HH:mm")</p>
        </div>
        @Html.LabelFor(m => m.FecSalida, new { @class = "col-md-3 control-label" })
        <div class="col-md-3">
            <p>@Model.FecSalida.ToString("dd/MM/yyyy HH:mm")</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.HorasTotal, new { @class = "col-md-3 control-label" })
        <div class="col-md-3">
            <p>@Model.HorasTotal</p>
        </div>
        @Html.LabelFor(m => m.HorasReal, new { @class = "col-md-3 control-label" })
        <div class="col-md-3">
            <p>@Model.HorasReal</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.TarifaHora, new { @class = "col-md-3 control-label" })
        <div class="col-md-3">
            <p>@Model.TarifaHora</p>
        </div>
        @Html.LabelFor(m => m.TotalSinIGV, new { @class = "col-md-3 control-label" })
        <div class="col-md-3">
            <p>@Model.Tarifa.Moneda.Breve @Html.DisplayFor(m => m.TotalSinIGV)</p>
        </div>
    </div>
    <div class="row">
        <div class = "col-md-3 control-label">&nbsp;</div>
        <div class="col-md-3">
            <p>&rarr;</p>
        </div>
        @Html.LabelFor(m => m.Total, new { @class = "col-md-3 control-label" })
        <div class="col-md-3">
            <p>@Model.Tarifa.Moneda.Breve @Model.Total</p>
        </div>

    </div>
}
