@using com.msc.infraestructure.entities;
@model List<CargaLiquiC>
@{
    Layout = null;
    ViewBag.Title = "Proceso de Carga de Liquidación";
}
<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@ViewBag.Title</h2>
                    <ul class="nav navbar-right panel_toolbox" style="min-width: 10px;">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#" class="del-group" data-val-url="/CargaLiquiC/Delete">Eliminar</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content2">
                    <div class="row">
                        <div class="form-group has-feedback">
                            <div class="col-md-11 cols-sm-11 col-xs-11 col-lg-11" title="Terminal Asociado" data-toggle="tooltip" data-placement="right">
                                @Html.DropDownList("Terminal", (List<SelectListItem>)ViewBag.lstTerminales, new { @class = "form-control has-feedback-left" })
                                <span class="fa fa-sort form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group has-feedback">
                            <div class="col-md-11 cols-sm-11 col-xs-11 col-lg-11" title="Puerto" data-toggle="tooltip" data-placement="right">
                                @Html.DropDownList("Puerto", (List<SelectListItem>)ViewBag.lstPuerto, new { @class = "form-control has-feedback-left" })
                                <span class="fa fa-industry form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group has-feedback">
                            <div class="col-md-11 cols-sm-11 col-xs-11 col-lg-11" title="Nave" data-toggle="tooltip" data-placement="right">
                                <input type="hidden" id="IdNave" value="0" />
                                @Html.TextBox("DescNave", "", new { @class = "form-control has-feedback-left", placeholder = "Nave" })
                                <span class="fa fa-plane form-control-feedback left" aria-hidden="true"></span>
                                <span class="fa fa-check-circle form-control-feedback right" aria-hidden="true" style=''></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-11 cols-sm-11 col-xs-11 col-lg-11" title="Viaje" data-toggle="tooltip" data-placement="right">
                            <select class="form-control has-feedback-left" id="ddlViaje" name="ddlViaje">
                                <option value="0">[Seleccione Viaje]</option>
                            </select>
                            <span class="fa fa-ship form-control-feedback left" aria-hidden="true"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-11 cols-sm-11 col-xs-11 col-lg-11" title="Tipo de Envío" data-toggle="tooltip" data-placement="right">
                            <select class="form-control has-feedback-left" id="ddlTipo" name="ddlTipo">
                                <option value="0">Importación</option>
                                <option value="1">Exportación</option>
                            </select>
                            <span class="fa fa-sort form-control-feedback left" aria-hidden="true"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 hidden-xs hidden-sm">
                            <label>Seleccione el archivo Excel de liquidación</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12">
                            Tipo de Carga: &nbsp;&nbsp;&nbsp;
                            Excel <input type="radio" name="choices" value="1" checked="checked"> &nbsp;&nbsp;&nbsp;
                            EDI <input type="radio" name="choices" value="2">
                        </div>
                    </div>
                    <br />
                    <div id="actions" class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <span class="btn btn-success fileinput-button dz-clickable">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Seleccionar Archivo...</span>
                                <span class="msgUpload"></span>
                            </span>
                            <button type="submit" class="btn btn-primary start">
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>Subir Archivo</span>
                            </button>
                            <button type="submit" class="btn btn-primary update">
                                <i class="glyphicon glyphicon-refresh"></i>
                                <span>Actualizar</span>
                            </button>
                            <button type="submit" class="btn btn-primary down">
                                <i class="glyphicon glyphicon-download"></i>
                                <span>Descargar Formato Excel</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <span class="fileupload-process">
                                <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                    <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress=""></div>
                                </div>
                            </span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 hidden-xs hidden-sm">
                            <label>Por favor, tener en cuenta la carga de archivos en formato XLS o EDI.</label>
                        </div>
                    </div>
                </div>
                <div class="x_content">
                    <table id="datatable-responsive" class="table table-striped jambo_table table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Fecha/Hora</th>
                                <th>Usuario</th>
                                <th>Documento</th>
                                <th>Procesados</th>
                                <th>Errados</th>
                                <th>Estado</th>
                                <th>Provisión</th>
                                <th>Facturar (USD)</th>
                                <th>Comentario</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr id="row_@item.Id">
                                <td>@item.Id</td>
                                <td>@item.FecRegistro.ToString("dd/MM/yyyy hh:mm:ss")</td>
                                <td>@item.Usuario</td>
                                <td>@item.Documento.Nombre</td>
                                <td>@item.Procesados</td>
                                <td>@item.Errados</td>
                                <td>@item.Estado</td>
                                <td>@item.Provision</td>
                                <td>@item.Total.ToString("#.##")</td>
                                <td>@item.Comentario</td>
                                <td>
                                    <div class="hidden-xs hidden-sm visible-md visible-lg">
                                        @if (!item.Estado.Contains("Error"))
            {
                            <a href="#" class="view-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/CargaLiquiC/View"><span class="glyphicon glyphicon-list-alt"></span> Ver</a> @:&nbsp; &nbsp;
}
                                        @if (!(item.Estado == "Aprobado" || item.Estado == "Rechazado"))
            {
                            <a href="#" class="del-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
}
                                        @if (item.Procesados > 0 && item.Errados == 0 && item.Estado == "Terminado")
            {
                            @:&nbsp; &nbsp;
                            <a href="#" class="send-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-send"></span> Enviar</a>
}&nbsp; &nbsp;
                                        <a href="#" class="down-item" data-toggle="modal" data-val-id="@item.IdDocumento"><span class="glyphicon glyphicon-download"></span> Descargar</a>
                                        @if (item.IdDocumento2 > 0)
            {
                            @:&nbsp; &nbsp;
                            <a href="#" class="down-item" data-toggle="modal" data-val-id="@item.IdDocumento2"><span class="glyphicon glyphicon-download"></span> EDI adjunto</a>
}
                                    </div>
                                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                                        @if (!item.Estado.Contains("Error"))
            {
                            <a href="#" class="view-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/CargaLiquiC/View"><span class="glyphicon glyphicon-list-alt"></span></a> @:&nbsp; &nbsp;
}
                                        @if (!(item.Estado == "Aprobado" || item.Estado == "Rechazado"))
            {
                            <a href="#" class="del-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-trash"></span></a>
}
                                        @if (item.Procesados > 0 && item.Errados == 0 && item.Estado == "Terminado")
            {
                            @:&nbsp; &nbsp;
                            <a href="#" class="send-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-send"></span></a>
}&nbsp; &nbsp;
                                        <a href="#" class="down-item" data-toggle="modal" data-val-id="@item.IdDocumento"><span class="glyphicon glyphicon-download"></span></a>
                                        @if (item.IdDocumento2 > 0)
            {
                            @:&nbsp; &nbsp;
                            <a href="#" class="down-item" data-toggle="modal" data-val-id="@item.IdDocumento2"><span class="glyphicon glyphicon-download"></span> </a>
}
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            _setToolTipsForm();
                            _formCargaLiquidacion();
                            showAutocompleteViaje("#DescNave", "/AutoComplete/Naves", "desc", "#IdNave", "#ddlViaje", "ViajesxNave", "Viaje", "#Puerto");
                            showCascadeViaje();
                        });
                    </script>
                </div>
                <form action="/" class="dropzone" style="max-height: 50px; min-height: 50px !important; visibility: hidden;">
                    <input type="file" multiple="multiple" class="dz-hidden-input" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
                </form>
            </div>
        </div>
    </div>
</div>