@using com.msc.services.dto
@model com.msc.infraestructure.entities.CargaLiquiC
@{ 
    Layout = null;
    <div class="row">
        @Html.LabelFor(m => m.Id, new { @class = "col-md-4 control-label" })
        <div class="col-md-7">
            <p>@Model.Id</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdTerminal, new { @class = "col-md-4 control-label" })
        <div class="col-md-7">
            <p>@Model.Terminal.Descripcion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdDocumento, new { @class = "col-md-4 control-label" })
        <div class="col-md-7">
            <p>@Model.Documento.Nombre</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Procesados, new { @class = "col-md-4 control-label" })
        <div class="col-md-7">
            <p>@Model.Procesados</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Correctos, new { @class = "col-md-4 control-label" })
        <div class="col-md-7">
            <p>@Model.Correctos</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Errados, new { @class = "col-md-4 control-label" })
        <div class="col-md-7">
            <p>@Model.Errados</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Estado, new { @class = "col-md-4 control-label" })
        <div class="col-md-7">
            <p>@Model.Estado</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Usuario, new { @class = "col-md-4 control-label" })
        <div class="col-md-7">
            <p>@Model.Usuario</p>
        </div>
    </div>
    <div class="row">
        <label id="lblPuerto" class="col-md-4 control-label">Puerto</label>
        <div class="col-md-7">
            <p>@Model.Puerto.Descripcion</p>
        </div>
    </div>
    <div class="row">
        <label id="lblNave" class = "col-md-4 control-label">Nave</label>
        <div class="col-md-7">
            <p>@Model.Nave.Descripcion</p>
        </div>
    </div>
    <div class="row">
        <label id="lblViaje" class="col-md-4 control-label">Viaje</label>
        <div class="col-md-7">
            <p>@Model.Viaje.Descripcion</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Detalle Carga Liquidación</h2>
                    <ul class="nav navbar-right panel_toolbox" style="min-width: 10px;">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#" class="back-item" data-val-url="@ViewBag.UrlBack">Volver</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable-responsive" class="table table-striped jambo_table table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Fila</th>
                                <th>Cliente</th>
                                <th>Booking</th>
                                <th>Contenedor</th>
                                <th>Línea</th>
                                <th>Entrada</th>
                                <th>Salida</th>
                                <th>Tipo de Carga</th>
                                <th>Estado</th>
                                <th>Facturar (USD)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CargaLiquiDs)
                            {
                                <tr style="@(item.Estado.Contains("Error")?"color: Red; font-weight: bold;":"")">
                                    <td>@item.Item</td>
                                    <td>@item.Shipper</td>
                                    <td>@item.Booking</td>
                                    <td>@item.NumContenedores</td>
                                    <td>@item.Linea</td>
                                    <td>@item.InDate</td>
                                    <td>@item.OutDate</td>
                                    <td>@item.Commodity</td>
                                    <td>@item.Estado</td>
                                    <td>@item.Total.ToString("#.##")</td>
                                    <td>
                                        @if (!(item.Estado.Contains("Error:") || item.Estado == "Registrado"))
                                        {
                                        <div class="hidden-xs hidden-sm visible-md visible-lg">
                                            <a href="#" class="liqui-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/CargaLiquiC/Detail"><span class="glyphicon glyphicon-open-file"></span> Liquidación</a>
                                        </div>
                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                            <a href="#" class="liqui-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/CargaLiquiC/Detail"><span class="glyphicon glyphicon-open-file"></span></a>
                                        </div>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            var table = $("#datatable-responsive").DataTable({
                                language: _language,
                                drawCallback: function (settings) {
                                    _formCargaLiquidaciondetail();
                                }
                            });

                            table.on('responsive-display', function (e, datatable, row, showHide, update) {
                                _formCargaLiquidaciondetail();
                            });

                            _formBack();
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
}
