@using com.msc.services.dto.DataMapping;
@model com.msc.infraestructure.entities.OrdenCompra
@{ 
    Layout = null;
    <div class="row">
        @Html.LabelFor(m => m.Id, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Id</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Codigo, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Codigo</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdCotizacion, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Cotizacion.Codigo</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdProveedor, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Proveedor.RazonSocial</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.FechaRegistro, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.FechaRegistro.ToString("dd/MM/yyyy")</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Observacion, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Observacion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdEstado, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Estado.Descripcion</p>
        </div>
    </div>
    <div class="row">
        @using (Html.BeginForm("Facturar", "OrdenCompra", FormMethod.Post, new { @class = "form-horizontal", role = "form", id="frmOrdenCompra" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group has-feedback">
                <div class="col-md-11 col-sm-11 col-lg-11 col-xs-11" title="Número de Factura Proveedor" data-toggle="tooltip" data-placement="right">
                    @Html.HiddenFor(m => m.Id)
                    @Html.TextBoxFor(m => m.NumFactura, new { @class = "form-control has-feedback-left", placeholder = "Número de Factura Proveedor" })
                    <span class="fa fa-barcode form-control-feedback left" aria-hidden="true"></span>
                </div>
                <div class="col-md-1 col-sm-1 col-lg-1 col-xs-1" >
                    <button name="btnGrabar" type="submit" class="btn btn-primary">Grabar</button>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Productos Asociados</h2>
                    <ul class="nav navbar-right panel_toolbox" style="min-width: 10px;">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#" class="back-item" data-val-url="/OrdenCompra/Index">Volver</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable-responsive" class="table table-striped jambo_table table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Cantidad</th>
                                <th>Unidad de Medida</th>
                                <th>Precio</th>
                                <th>Total</th>
                                <th>Observaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DetalleOrdenCompras)
                            {
                                <tr>
                                    <td>@item.Producto.Descripcion</td>
                                    <td>@item.Cantidad</td>
                                    <td>@item.Producto.UnidadMedida.Descripcion</td>
                                    <td>@item.Precio</td>
                                    <td>@item.Total</td>
                                    <td>@item.Observacion</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
<br />
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Documentos Asociados</h2>
                <ul class="nav navbar-right panel_toolbox" style="min-width: 10px;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#" class="back-item" data-val-url="/OrdenCompra/Index">Volver</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <br />
            <form action="/" class="dropzone" style="max-height: 70px; min-height: 70px !important;">
                <input type="file" multiple="multiple" class="dz-hidden-input" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
            </form>
            <div class="x_content2">
                @Html.Partial("~/Views/Shared/_Upload.cshtml", Model.OrdenCompraDocs.TransformOrdenCompraDoc())
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        _setToolTipsForm();
        _formBack();
        _formView();
        _formFacturarOrdenCompra();
    });
</script>

