@model com.msc.infraestructure.entities.OrdenCompra
@{ 
    Layout = null;
    <div class="row">
        @Html.LabelFor(m => m.Id, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Id</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Codigo, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Codigo</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdCotizacion, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Cotizacion.Codigo</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdProveedor, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Proveedor.RazonSocial</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.FechaRegistro, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.FechaRegistro.ToString("dd/MM/yyyy")</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Observacion, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Observacion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.NumFactura, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.NumFactura</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdEstado, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Estado.Descripcion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.SubTotal, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.SubTotal</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Igv, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Igv</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Total, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Total</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Productos Asociados</h2>
                    <ul class="nav navbar-right panel_toolbox" style="min-width: 10px;">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#" class="back-item" data-val-url="@ViewBag.UrlBack">Volver</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable-responsive" class="table table-striped jambo_table table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Cantidad</th>
                                <th>Unidad de Medida</th>
                                <th>Precio</th>
                                <th>Total</th>
                                <th>Observaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DetalleOrdenCompras)
                            {
                                <tr>
                                    <td>@item.Producto.Descripcion</td>
                                    <td>@item.Cantidad</td>
                                    <td>@item.Producto.UnidadMedida.Descripcion</td>
                                    <td>@item.Precio</td>
                                    <td>@item.Total</td>
                                    <td>@item.Observacion</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Documentos Asociados</h2>
                <ul class="nav navbar-right panel_toolbox" style="min-width: 10px;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#" class="back-item" data-val-url="/OrdenCompra/Index">Volver</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <br />
            <div class="x_content2">
                <table id="datatable-responsive" class="table table-striped jambo_table table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Extensión</th>
                            <th>Tamaño (MB)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrdenCompraDocs)
                        {
                            <tr>
                                <td>@item.Documento.Nombre</td>
                                <td>@item.Documento.Extension</td>
                                <td>@item.Documento.TamanoMB</td>
                                <td>
                                    <div class="hidden-xs hidden-sm visible-md visible-lg">
                                        <a href="#" class="down-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/Upload/DownloadOrdenCompra"><span class="glyphicon glyphicon-download"></span> Descargar</a> 
                                    </div>
                                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                                        <a href="#" class="down-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/Upload/DownloadOrdenCompra"><span class="glyphicon glyphicon-download"></span></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        _formBack();

        var table = $("#datatable-responsive").DataTable({
            language: _language,
            sorting: false,
            drawCallback: function (settings) {
                $(".down-item").unbind().bind("click", function (ev) {
                    ev.stopPropagation();
                    ev.preventDefault();
                    var rutaDown = _root + $(this).attr("data-val-url") + "/" + $(this).attr("data-val-id");
                    window.open(rutaDown, '_blank');
                });
            }
        });

        table.on('responsive-display', function (e, datatable, row, showHide, update) {
            $(".down-item").unbind().bind("click", function (ev) {
                ev.stopPropagation();
                ev.preventDefault();
                var rutaDown = _root + $(this).attr("data-val-url") + "/" + $(this).attr("data-val-id");
                window.open(rutaDown, '_blank');
            });
        });
    });
</script>

