@model com.msc.infraestructure.entities.Impuesto
@{ 
    Layout = null;
    using (Html.BeginForm((Model.Id == 0 ? "New" : "Edit"), "Impuesto", FormMethod.Post, new { @class = "form-horizontal", role = "form", id="frmImpuesto" }))
    {
        @Html.AntiForgeryToken()
        if (Model.Id == 0)
        {
            <div class="form-group">
                <div class="col-md-12">
                    @Html.HiddenFor(m => m.Id)
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Id, new { @class = "col-md-3 control-label", style = "text-align: left;" })
                @Html.HiddenFor(m => m.Id)
                <div class="col-md-8 control-label" style="text-align: left;">
                    <span>@Model.Id</span>
                </div>
            </div>
        }
        <div class="form-group has-feedback">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12" title="Tipo de Impuesto" data-toggle="tooltip" data-placement="right">
                @Html.DropDownListFor(m => m.IdTipoImpuesto, (List<SelectListItem>)ViewBag.lstClaseImpuesto, new { @class = "form-control has-feedback-left" })
                <span class="fa fa-sort form-control-feedback left" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12" title="Código Retención" data-toggle="tooltip" data-placement="right">
                @Html.TextBoxFor(m => m.Codigo, new { @class = "form-control has-feedback-left", placeholder = "Código" })
                <span class="fa fa-align-justify form-control-feedback left" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12" title="Descripción" data-toggle="tooltip" data-placement="right">
                @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control has-feedback-left", placeholder = "Descripción" })
                <span class="fa fa-align-justify form-control-feedback left" aria-hidden="true"></span>
            </div>
        </div>
    }
}
