@model List<com.msc.infraestructure.entities.Control>
@{
    Layout = null;
    ViewBag.Title = "Mantenimiento de Controles";
}
<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@ViewBag.Title</h2>
                    <ul class="nav navbar-right panel_toolbox" style="min-width: 10px;">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#" class="new-item" data-val-url="/Control/New">Nuevo</a>
                                    <a href="#" class="del-group" data-val-url="/Control/Delete">Eliminar</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                        <table id="datatable-responsive" class="table table-striped jambo_table table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Tipo de Control</th>
                                    <th>Página</th>
                                    <th>Descripción</th>
                                    <th>Url</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="row_@item.Id">
                                        <td>@item.TipoControl.Descripcion</td>
                                        <td>@item.Pagina.Titulo</td>
                                        <td>@item.Descripcion</td>
                                        <td>@item.Url</td>
                                        <td>
                                            <div class="hidden-xs hidden-sm visible-md visible-lg">
                                                <a href="#" class="view-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/Control/View"><span class="glyphicon glyphicon-list-alt"></span> Ver</a> &nbsp;&nbsp;
                                                <a href="#" class="edit-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/Control/Edit"><span class="glyphicon glyphicon-edit"></span> Editar</a>  &nbsp;&nbsp;
                                                <a href="#" class="del-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
                                            </div>
                                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                <a href="#" class="view-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/Control/View"><span class="glyphicon glyphicon-list-alt"></span></a> &nbsp;&nbsp;
                                                <a href="#" class="edit-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/Control/Edit"><span class="glyphicon glyphicon-edit"></span></a>  &nbsp;&nbsp;
                                                <a href="#" class="del-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-trash"></span></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    <script type="text/javascript">
                            $(document).ready(function () {
                                _formLoad("Control", [null, null, null, null, { orderable: false }]);
                            });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>