@model com.msc.infraestructure.entities.Control
@{ 
    Layout = null;
    <div class="row">
        @Html.LabelFor(m => m.Id, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Id</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdTipoControl, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.TipoControl.Descripcion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdPagina, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Pagina.Titulo</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Descripcion, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Descripcion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Url, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Url</p>
        </div>
    </div>
}
