
@model List<com.msc.infraestructure.entities.ContactoProveedor>
@{
    Layout = null;
}
<div id="msgTable" style="font-weight: bolder;">@ViewBag.Message</div>
<br />
<table id="datatable-responsive-cp" class="table table-striped jambo_table table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Cargo</th>
            <th>Nombre Completo</th>
            <th>Correo</th>
            <th>Ind. Contacto</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row_@item.Id">
                <td>@item.Cargo.Descripcion</td>
                <td>@item.NombreCompleto</td>
                <td>@item.Correo</td>
                <td>@item.IndContacto</td>
                <td>
                    <div class="hidden-xs hidden-sm visible-md visible-lg">
                        <a href="#" class="del-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-trash"></span> Eliminar</a> &nbsp;&nbsp;
                        <a href="#" class="edit-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/ContactoProveedor/Edit"><span class="glyphicon glyphicon-edit"></span> Editar</a> 
                    </div>
                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                        <a href="#" class="del-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-trash"></span></a> &nbsp;&nbsp;
                        <a href="#" class="edit-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/ContactoProveedor/Edit"><span class="glyphicon glyphicon-edit"></span></a> 
                        
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        selected_cp = [];

        $("#datatable-responsive-cp").DataTable({
            columns: [null, null, null, null, { orderable: false }],
            select: _select,
            language: _language,
            paging: false,
            searching: false,
            drawCallback: function (settings) {
                _formDetailDeleteTarget2(".x_content2", "ContactoProveedor");
                _formEditDeleteExtendDetail(".x_content2", "ContactoProveedor");
            }
        });

        _selectBehaviourExtend("#datatable-responsive-cp", selected_cp);
    });
</script>

