@using com.msc.infraestructure.entities;
@model com.msc.infraestructure.entities.Pedido
@{ 
    Layout = null;
    var idCorr = 0;
    
    <div class="row">
        @Html.LabelFor(m => m.Id, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            @Html.HiddenFor(m=>m.Id)
            <p>@Model.Id</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Codigo, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Codigo</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdEmpresa, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Empresa.Descripcion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdSucursal, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Sucursal.Descripcion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdAreaSolicitante, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.AreaSolicitante.Descripcion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdTipoPeticion, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.TipoPeticion.Descripcion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdCentroCosto, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.CentroCosto.Descripcion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.FechaPeticion, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.FechaPeticion.ToString("dd/MM/yyyy")</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.FechaEsperada, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.FechaEsperada.ToString("dd/MM/yyyy")</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Observaciones, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Observaciones</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.UsuarioSol, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.UsuarioSol</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.FlagAprobacion, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@(Model.FlagAprobacion == 1 ? "SI" : "NO")</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.ComentAprobador, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.ComentAprobador</p>
        </div>
    </div>
<br />
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Asignar Proveedores</h2>
                <ul class="nav navbar-right panel_toolbox" style="min-width: 10px;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#" class="back-item" data-val-url="/GenCotiza/Index">Volver</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="hidden" id="IdProveedor" value="0" />
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <div class="col-md-11 col-sm-11 col-xs-11 col-lg-11" title="Razón Social del Proveedor" data-toggle="tooltip" data-placement="top">
                        @Html.TextBox("DescProveedor", "", new { @class = "form-control has-feedback-left", placeholder = "Razón Social del Proveedor" })
                        <span class="fa fa-product-hunt form-control-feedback left" aria-hidden="true"></span>
                        <span class="fa fa-check-circle form-control-feedback right" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-1 col-sm-1 col-lg-1 col-xs-1">
                        <button name="btnAgregar" type="submit" class="btn btn-primary">Agregar</button>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                showAutocomplete("#DescProveedor", "/AutoComplete/Proveedores", "desc", "#IdProveedor")
            </script>
            <br />
            <div class="x_content">
                @Html.Partial("~/Views/GenCotiza/View.cshtml", Model.Cotizaciones)
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Mejores Precios según tarifario</h2>
                <ul class="nav navbar-right panel_toolbox" style="min-width: 10px;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#" class="back-item" data-val-url="/GenCotiza/Index">Volver</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content2">
                <table id="datatable-responsive-dp" class="table table-striped jambo_table table-bordered nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Producto</th>
                            <th>Proveedor</th>
                            <th>Cantidad</th>
                            <th>Unidad de Medida</th>
                            <th>Precio</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in (List<Tarifario>)ViewBag.Tarifas)
                        {
                            idCorr++;
                            <tr style="@(item.Id == 0 ? "color: Red; font-weight: bold;":"")">
                                <td>@idCorr</td>
                                <td>
                                    @item.Producto.Descripcion
                                </td>
                                <td>
                                    @item.Proveedor.RazonSocial
                                </td>
                                <td>@item.Cantidad</td>
                                <td>@item.Producto.UnidadMedida.Descripcion</td>
                                <td>
                                    @item.Precio
                                </td>
                                <td>@(item.Cantidad * item.Precio)</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <label style="color: red; font-weight: bold;">Nota.- Las filas en rojo muestran productos sin tarifario asociado.</label>
                <script type="text/javascript">
                    $(document).ready(function () {
                        _formGridGeneraCotizacion();
                        _formBack();
                    });
                </script>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    input {
        width: 100%;
    }
</style>
}
