@using com.msc.infraestructure.entities;
@model List<Pedido>
@{
    Layout = null;
    ViewBag.Title = "Validar Solicitud de Pedido";
}
<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@ViewBag.Title</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable-responsive" class="table table-striped jambo_table table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Area Solicitante</th>
                                <th>Centro Costo</th>
                                <th>Fecha Petición</th>
                                <th>Usuario Reg.</th>
                                <th>Estado</th>
                                <th>Comentario</th>
                                <th>Cotizaciones</th>
                                <th>Orden de Compra</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.Id">
                                    <td>@item.Codigo</td>
                                    <td>@item.AreaSolicitante.Descripcion</td>
                                    <td>@item.CentroCosto.Descripcion</td>
                                    <td>@item.FechaPeticion.ToString("dd/MM/yyyy")</td>
                                    <td>@item.UsuarioSol</td>
                                    <td>@item.Estado.Descripcion</td>
                                    <td>
                                        @if (item.Estado.Codigo != "004" && item.Estado.Codigo != "007" && item.Estado.Codigo != "005")
                                        {
                                            <input type="text" class="form-control" placeholder="Ingrese Comentario" value="@item.ComentAprobador" />
                                        }
                                        else
                                        {
                                        @item.ComentAprobador
                                        }
                                    </td>
                                    <td>
                                        @foreach (var subitem in item.Cotizaciones)
                                        {
                                            <a href="#" class="view-coti" data-toggle="modal" data-val-id="@subitem.Id" data-val-url="/Cotizacion/View" style="text-decoration: underline; font-weight: bold;">@subitem.Codigo</a> @:&nbsp;&nbsp;
                                        }
                                    </td>
                                    <td>
                                        @if (item.OrdenCompra != null)
                                        {
                                            <a href="#" class="view-oc" data-toggle="modal" data-val-id="@item.OrdenCompra.Id" data-val-url="/OrdenCompra/View" style="text-decoration: underline; font-weight: bold;">@item.OrdenCompra.Codigo</a>
                                        }
                                    </td>
                                    <td>
                                        <div class="hidden-xs hidden-sm visible-md visible-lg">
                                            <a href="#" class="view-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/Pedido/View"><span class="glyphicon glyphicon-list-alt"></span> Ver</a> 
                                            @if (item.Estado.Codigo != "004" && item.Estado.Codigo != "007" && item.Estado.Codigo != "005")
                                            {
                                                @:&nbsp; &nbsp;
                                                <a href="#" class="apro-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-check"></span> Aprobar</a>
                                                @:&nbsp; &nbsp;
                                                <a href="#" class="rech-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-remove"></span> Rechazar</a>
                                                @:&nbsp; &nbsp;
                                                <a href="#" class="obs-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-eye-open"></span> Observar</a>
                                            }
                                            
                                        </div>
                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                            <a href="#" class="view-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/Pedido/View"><span class="glyphicon glyphicon-list-alt"></span></a> 
                                            @if (item.Estado.Codigo != "004" && item.Estado.Codigo != "007" && item.Estado.Codigo != "005")
                                            {
                                                @:&nbsp; &nbsp;
                                                <a href="#" class="apro-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-check"></span></a>
                                                @:&nbsp; &nbsp;
                                                <a href="#" class="rech-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-remove"></span></a>
                                                @:&nbsp; &nbsp;
                                                <a href="#" class="obs-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-eye-open"></span></a>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            _formValidaPedido();
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>