@model List<com.msc.infraestructure.entities.CondEspeCliDetalle>
@{ 
    Layout = null;
} 
<div id="msgTable" style="font-weight: bolder;">@ViewBag.Message</div>
<br/>
<table id="datatable-responsive" class="table table-striped jambo_table table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Terminal</th>
            <th>Retira Por</th>
            <th>Dias</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row_@item.Id">
                <td>@item.Terminal.Descripcion</td>
                <td>@item.RetiraPor.Descripcion</td>
                <td>@item.Dias</td>
                <td>
                    <div class="hidden-xs hidden-sm visible-md visible-lg">
                        <a href="#" class="del-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-trash"></span> Eliminar</a> &nbsp;&nbsp;
                        <a href="#" class="edit-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/CondEspeCliDetalle/Edit"><span class="glyphicon glyphicon-edit"></span> Editar</a> &nbsp;&nbsp;
                        <a href="#" class="dia-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/CondEspeCliDia/Edit"><span class="glyphicon glyphicon-plane"></span> Configurar</a>  
                    </div>
                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                        <a href="#" class="del-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-trash"></span></a> &nbsp;&nbsp;
                        <a href="#" class="edit-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/CondEspeCliDetalle/Edit"><span class="glyphicon glyphicon-edit"></span></a> &nbsp;&nbsp;
                        <a href="#" class="dia-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/CondEspeCliDia/Edit"><span class="glyphicon glyphicon-plane"></span></a>  
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        selected = [];

        $("#datatable-responsive").DataTable({
            columns: [null, null, null, { orderable: false }],
            select: _select,
            language: _language,
            drawCallback: function (settings) {
                _formDetailDeleteExtend("CondEspeCliDetalle");
                _formEditTabDetalle();
            }
        });

        _selectBehaviour();
    });
</script>