@model com.msc.infraestructure.entities.DatoComercial
@{
    Layout = null;
}
@using (Html.BeginForm("Edit", "DatoComercial", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "frmDatoComercial" }))
{
    <div class="form-group">
        <div class="col-md-12">
            @Html.HiddenFor(m => m.Id)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.HiddenFor(m => m.IdProveedor)
        </div>
    </div>
    <div class="form-group has-feedback">
        <div class="col-md-12 cols-sm-12 col-xs-12 col-lg-12" title="País" data-toggle="tooltip" data-placement="right">
            @Html.DropDownListFor(m => m.IdPais2, (List<SelectListItem>)ViewBag.lstPaises, new { @class = "form-control has-feedback-left" })
            <span class="fa fa-flag form-control-feedback left" aria-hidden="true"></span>
        </div>
    </div>
    <div class="form-group has-feedback">
        <div class="col-md-12 cols-sm-12 col-xs-12 col-lg-12" title="Banco" data-toggle="tooltip" data-placement="right">
            @Html.DropDownListFor(m => m.IdBanco, (List<SelectListItem>)ViewBag.lstBanco, new { @class = "form-control has-feedback-left" })
            <span class="fa fa-bank form-control-feedback left" aria-hidden="true"></span>
        </div>
    </div>
    <div class="form-group has-feedback">
        <div class="col-md-12 cols-sm-12 col-xs-12 col-lg-12" title="Tipo de Cuenta" data-toggle="tooltip" data-placement="right">
            @Html.DropDownListFor(m => m.IdTipoCuenta, (List<SelectListItem>)ViewBag.lstTipoCuenta, new { @class = "form-control has-feedback-left" })
            <span class="fa fa-sort form-control-feedback left" aria-hidden="true"></span>
        </div>
    </div>
    <div class="form-group has-feedback">
        <div class="col-md-12 cols-sm-12 col-xs-12 col-lg-12" title="Tipo Banco Interlocutor" data-toggle="tooltip" data-placement="right">
            @Html.DropDownListFor(m => m.IdTipoInterlocutor, (List<SelectListItem>)ViewBag.lstTipoInterlocutor, new { @class = "form-control has-feedback-left" })
            <span class="fa fa-sort form-control-feedback left" aria-hidden="true"></span>
        </div>
    </div>
    <div class="form-group has-feedback">
        <div class="col-md-12 cols-sm-12 col-xs-12 col-lg-12" title="Número de Cuenta" data-toggle="tooltip" data-placement="right">
          @Html.TextBoxFor(m => m.NroCuenta, new { @class = "form-control has-feedback-left", placeholder = "Número de Cuenta" })
            <span class="fa fa-archive form-control-feedback left" aria-hidden="true"></span>
        </div>
    </div>
    <div class="form-group has-feedback">
        <div class="col-md-12 cols-sm-12 col-xs-12 col-lg-12" title="Número CCI" data-toggle="tooltip" data-placement="right">
          @Html.TextBoxFor(m => m.NroCCI, new { @class = "form-control has-feedback-left", placeholder = "Número CCI" })
            <span class="fa fa-barcode form-control-feedback left" aria-hidden="true"></span>
        </div>
    </div>
    <div class="form-group has-feedback">
        <div class="col-md-12 cols-sm-12 col-xs-12 col-lg-12" title="SWIFT" data-toggle="tooltip" data-placement="right">
          @Html.TextBoxFor(m => m.Swift, new { @class = "form-control has-feedback-left", placeholder = "SWIFT" })
            <span class="fa fa-align-justify form-control-feedback left" aria-hidden="true"></span>
        </div>
    </div>
}
<script type="text/javascript">
    showCascade("#IdPais2", "BancosxPais", "#IdBanco", "Banco");
</script>
