@model List<com.msc.infraestructure.entities.DatoComercial>
@{
    Layout = null;
}
<div id="msgTable" style="font-weight: bolder;">@ViewBag.Message</div>
<br />
<table id="datatable-responsive-dc" class="table table-striped jambo_table table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>País</th>
            <th>Banco</th>
            <th>Tipo de Cuenta</th>
            <th>Número de Cuenta</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row_@item.Id">
                <td>@item.Pais.Descripcion</td>
                <td>@item.Banco.Descripcion</td>
                <td>@item.TipoCuenta.Descripcion</td>
                <td>@item.NroCuenta</td>
                <td>
                    <div class="hidden-xs hidden-sm visible-md visible-lg">
                        <a href="#" class="del-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-trash"></span> Eliminar</a> &nbsp;&nbsp;
                        <a href="#" class="edit-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/DatoComercial/Edit"><span class="glyphicon glyphicon-edit"></span> Editar</a> 
                    </div>
                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                        <a href="#" class="del-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-trash"></span></a> &nbsp;&nbsp;
                        <a href="#" class="edit-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/DatoComercial/Edit"><span class="glyphicon glyphicon-edit"></span></a> 
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        selected_dc = [];

        $("#datatable-responsive-dc").DataTable({
            columns: [null, null, null, null, { orderable: false }],
            select: _select,
            language: _language,
            paging: false,
            searching: false,
            drawCallback: function (settings) {
                _formDetailDeleteTarget(".x_content", "DatoComercial");
                _formEditDeleteExtendDetail(".x_content", "DatoComercial");
            }
        });

        _selectBehaviourExtend("#datatable-responsive-dc", selected_dc);
    });
</script>