@using com.msc.infraestructure.entities;
@model List<CargaLiquiC>
@{
    Layout = null;
    ViewBag.Title = "Validar Carga de Liquidación";
}
<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@ViewBag.Title</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable-responsive" class="table table-striped jambo_table table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Terminal</th>
                                <th>Nave</th>
                                <th>Viaje</th>
                                <th>ETA</th>
                                <th>Fecha/Hora</th>
                                <th>Usuario</th>
                                <th>Estado</th>
                                <th>Procesados</th>
                                <th>Errados</th>
                                <th>Provisión</th>
                                <th>Documento</th>
                                <th>Facturar (USD)</th>
                                <th>Comentario</th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr id="row_@item.Id">
                                <td>@item.Id</td>
                                <td>@item.Terminal.Descripcion</td>
                                <td>@item.Nave.Descripcion</td>
                                <td>@item.Viaje.Descripcion</td>
                                <td>@item.Viaje.FechaETA.ToString("dd/MM/yyyy")</td>
                                <td>@item.FecRegistro.ToString("dd/MM/yyyy hh:mm:ss")</td>
                                <td>@item.Usuario</td>
                                <td>@item.Estado</td>
                                <td>@item.Procesados</td>
                                <td>@item.Errados</td>
                                <td>@item.Provision</td>
                                <td>@item.Documento.Nombre</td>
                                <td>@item.Total.ToString("#.##")</td>
                                <td>
                                    @if (item.Estado != "Aprobado" && item.Estado != "Rechazado")
        {
                            <input type="text" class="form-control" placeholder="Ingrese Comentario" />
}
else
{
                            @item.Comentario
}
                                </td>
                                <td>
                                    <div class="hidden-xs hidden-sm visible-md visible-lg">
                                        @if (!item.Estado.Contains("Error"))
            {
                            <a href="#" class="view-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/CargaLiquiC/View"><span class="glyphicon glyphicon-list-alt"></span> Ver</a> @:&nbsp; &nbsp;
}
                                        <a href="#" class="down-item" data-toggle="modal" data-val-id="@item.IdDocumento"><span class="glyphicon glyphicon-download"></span> Descargar</a>
                                        @if (item.IdDocumento2 > 0)
            {
                            @:&nbsp; &nbsp;
                            <a href="#" class="down-item" data-toggle="modal" data-val-id="@item.IdDocumento2"><span class="glyphicon glyphicon-download"></span> EDI adjunto</a>
}
                                        @if (item.Estado != "Aprobado" && item.Estado != "Rechazado")
            {
                            @:&nbsp; &nbsp;
                            <a href="#" class="apro-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-check"></span> Aprobar</a>
                            @:&nbsp; &nbsp;
                            <a href="#" class="rech-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-remove"></span> Rechazar</a>
}
                                    </div>
                                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                                        @if (!item.Estado.Contains("Error"))
            {
                            <a href="#" class="view-item" data-toggle="modal" data-val-id="@item.Id" data-val-url="/CargaLiquiC/View"><span class="glyphicon glyphicon-list-alt"></span></a> @:&nbsp; &nbsp;
}
                                        <a href="#" class="down-item" data-toggle="modal" data-val-id="@item.IdDocumento"><span class="glyphicon glyphicon-download"></span></a>
                                        @if (item.IdDocumento2 > 0)
            {
                            @:&nbsp; &nbsp;
                            <a href="#" class="down-item" data-toggle="modal" data-val-id="@item.IdDocumento2"><span class="glyphicon glyphicon-download"></span> </a>
}
                                        @if (item.Estado != "Aprobado" && item.Estado != "Rechazado")
            {
                            @:&nbsp; &nbsp;
                            <a href="#" class="apro-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-check"></span> </a>
                            @:&nbsp; &nbsp;
                            <a href="#" class="rech-item" data-toggle="modal" data-val-id="@item.Id"><span class="glyphicon glyphicon-remove"></span> </a>
}
                                    </div>
                                </td>

                            </tr>
                            }
                        </tbody>
                    </table>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            _formValidaLiquidacion();
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>