@model com.msc.infraestructure.entities.DetalleOrdenCompra
@{
    Layout = null;

    using (Html.BeginForm("Edit", "DetalleOrdenCompra", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "frmDetalleOrdenCompra" }))
    {

    <div class="form-group has-feedback">
        @Html.LabelFor(m => m.Id, new { @class = "col-md-3 control-label", style = "text-align: left;" })
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.IdOrdenCompra)
        <input type="hidden" value="0" id="IdTarifario"/>
        <input type="hidden" value="0" />
        <div class="col-md-8 control-label" style="text-align: left;">
            <span>@Model.Id</span>
        </div>
    </div>
    <div class="form-group has-feedback">
        <div class="col-md-10 cols-sm-10 col-xs-10 col-lg-10" title="Descripción del Producto" data-toggle="tooltip" data-placement="right">
            @Html.HiddenFor(m => m.IdProducto)
            @Html.TextBox("SubDescProducto", Model.Producto.Descripcion, new { @class = "form-control has-feedback-left", placeholder = "Descripción del Producto" })
            <span class="fa fa-product-hunt form-control-feedback left" aria-hidden="true"></span>
            <span class="fa fa-check-circle form-control-feedback right" aria-hidden="true" style='@(Model.Id == 0 ? "" : "color: green;")'></span>
        </div>
        <div class="col-md-2 cols-sm-2 col-xs-2 col-lg-2" title="Unidad de Medida" data-toggle="tooltip" data-placement="right" style="padding-top: 5px;">
            <label id="SubDescUniMedida">@Model.Producto.UnidadMedida.Descripcion</label>
        </div>
    </div>
    <div class="form-group has-feedback">
        <div class="col-md-12 cols-sm-12 col-xs-12 col-lg-12" title="Cantidad" data-toggle="tooltip" data-placement="right">
            @Html.TextBoxFor(m => m.Cantidad, new { @class = "form-control has-feedback-left", placeholder = "Cantidad" })
            <span class="fa fa-calculator form-control-feedback left" aria-hidden="true"></span>
        </div>
    </div>
    <div class="form-group has-feedback">
        <div class="col-md-12 cols-sm-12 col-xs-12 col-lg-12" title="Precio" data-toggle="tooltip" data-placement="right">
            @Html.TextBoxFor(m => m.Precio, new { @class = "form-control has-feedback-left", placeholder = "Precio" })
            <span class="fa fa-money form-control-feedback left" aria-hidden="true"></span>
        </div>
    </div>
    <div class="form-group has-feedback">
        <div class="col-md-12 cols-sm-12 col-xs-12 col-lg-12" title="Total" data-toggle="tooltip" data-placement="right">
            @Html.TextBoxFor(m => m.Total, new { @class = "form-control has-feedback-left", placeholder = "Total", @readonly="readonly" })
            <span class="fa fa-money form-control-feedback left" aria-hidden="true"></span>
        </div>
    </div>
    <div class="form-group has-feedback">
        <div class="col-md-12 cols-sm-12 col-xs-12 col-lg-12" title="Observaciones" data-toggle="tooltip" data-placement="right">
            @Html.TextAreaFor(m => m.Observacion, new { @class = "form-control has-feedback-left", placeholder = "Observaciones" })
            <span class="fa fa-comment form-control-feedback left" aria-hidden="true"></span>
        </div>
    </div>
}
<script type="text/javascript">
    showAutocompleteProductoxProv('#SubDescProducto', '/AutoComplete/ProductosxProveedor', "desc", "#frmDetalleOrdenCompra #IdProducto", "#SubDescProducto", "#SubDescUniMedida", "#Precio", "#IdTarifario", "#Cantidad", "#Total")

    $("#Precio").on("input", function (ev) {
        var cant = (parseInt($("#Cantidad").val()) == NaN ? 0 : parseInt($("#Cantidad").val()));
        var precio = (parseFloat($(this).val()) == NaN ? 0 : parseFloat($(this).val()));
        $("#Total").val(parseFloat(cant * precio).toFixed(3));
    });

    $("#Cantidad").on("input", function (ev) {
        var precio = (parseFloat($("#Precio").val()) == NaN ? 0 : parseFloat($("#Precio").val()));
        var cant = (parseInt($(this).val()) == NaN ? 0 : parseInt($(this).val()));
        $("#Total").val(parseFloat(cant * precio).toFixed(3));
    });

</script>
}