@model com.msc.infraestructure.entities.Producto
@{
    Layout = null;
    <div class="row">
        @Html.LabelFor(m => m.Id, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Id</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdCodigoGrupo, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Grupo.Descripcion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdTipoServicio, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.TipoServicio.Descripcion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdCodigoFamilia, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Familia.Descripcion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdCodigoSubFamilia, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.SubFamilia.Descripcion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IdUnidadMedida, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.UnidadMedida.Descripcion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Descripcion, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Descripcion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Abreviatura, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Abreviatura</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Observaciones, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Observaciones</p>
        </div>
    </div>
}

