<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Content/images/favicon.ico" type="image/ico" />
    <title>Mediterranean Shipping Company S.A.C.</title>
    @Styles.Render("~/Content/Home")
    @Styles.Render("~/Content/DataTables")
    
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index", "Home")" class="site_title"><img src="~/Content/images/Logo.png" style="width: 50px; height: 50px;" /> <span>MSC Perú</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/Content/images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Bienvenido,</span>
                            <h2>@ViewBag.Usuario</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    @(ViewBag.Menu as IHtmlString)
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="">
                           &nbsp; @*<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>*@
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="">
                            &nbsp; @*<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>*@
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="">
                            &nbsp; @*<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>*@
                        </a>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            <a data-toggle="tooltip" data-placement="top" title="Cerrar Sesión" href="#" onclick="_cerrarSesion();">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </a>
                        }
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Content/images/img.jpg" alt="">@ViewBag.Usuario
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    @*<li><a href="javascript:;"> Perfil</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Ajustes</span>
                                        </a>
                                    </li>*@
                                    @if (Session["Tipo"].ToString() == "E")
                                    {
                                    <li>
                                        <a href="#" name="CHPass" data-val-user="@((Session["Usuario"] as com.msc.services.dto.ExternoDTO).Usuario)"><i class="fa fa-lock pull-right"></i> Cambiar Clave</a>
                                    </li>
                                    }
                                    @*<li><a href="javascript:;">Ayuda</a></li>*@
                                    <li>
                                        <a href="#" onclick="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out pull-right"></i> Cerrar Sesión</a>
                                    </li>
                                </ul>
                            </li>
                            @*<li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Imagen del Perfil" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>Ver todas las alertas</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>*@
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="right_col" role="main" id="content-inner-main">
                 @RenderBody()
            </div>
            <footer>
                <div class="pull-right">
                    Mediterranean Shipping Company del Perú S.A.C. - Todos los derechos reservados - 2018
                </div>
                <div class="clearfix"></div>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/Home")
    @Scripts.Render("~/bundles/DataTables")
</body>
</html>
<script type="text/javascript">
        $(document).ready(function () {
            $(document).ajaxStart(function () {
                showPleaseWait();
            }).ajaxStop(function () {
                hidePleaseWait();
            });

            _formStart();

        });

    function _cerrarSesion() {
        eraseCookie("jwt");
        document.getElementById('logoutForm').submit();
    }
</script>
<div>
    @Html.Partial("~/Views/Shared/_Modal.cshtml")
    @Html.Partial("~/Views/Shared/_Forms.cshtml")
</div>