@model com.msc.infraestructure.entities.Empresa
@{ 
    Layout = null;
    <div class="row">
        @Html.LabelFor(m => m.Id, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Id</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Descripcion, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Descripcion</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Ruc, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Ruc</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Abreviatura, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Abreviatura</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Telefono, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Telefono</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Direccion, new { @class = "col-md-3 control-label" })
        <div class="col-md-8">
            <p>@Model.Direccion</p>
        </div>
    </div>
}
